@inject IDialogService DialogService
@inject LoaderService Loader
@inject ISnackbar Snackbar
@inject IPetAdoptionAPI petAPI
@inject CustomAuthStateProvider AuthState
@inject IConfiguration Configuration

<MudDialog>
    <DialogContent>
        <EditForm Model="@model" OnValidSubmit="SaveRequest">
            <DataAnnotationsValidator />

            <MudGrid>
                <MudItem xs="12">
                    <MudStack Row="true">
                        <MudSelect Variant="Variant.Filled" Label="Species" T="int" Value="model.SpeciesId" For="@(() => model.SpeciesId)"  ValueChanged="OnValueChanged">
                            @foreach (var species in Enum.GetValues<Species>())
                            {
                                <MudSelectItem Value="@((int)species)">@species</MudSelectItem>
                            }
                        </MudSelect>

                        <MudSelect Variant="Variant.Filled" Label="Pets" T="int" Value="model.PetId" For="@(() => model.PetId)" Placeholder="Please Select" Disabled="@(!PetList.Any())">
                            @if (model.PetList != null && model.PetList.Any())
                            {
                                @foreach (var animalGender in model.PetList)
                                {

                                    <MudSelectItem Value="@animalGender.Id">@animalGender.Name</MudSelectItem>
                                }
                            }
                        </MudSelect>
                    </MudStack>
                </MudItem>
                <MudItem xs="12">
                    <MudDatePicker Label="Request Date" Editable="true" @bind-value="model.RequestDate" Placeholder="Select Date" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Label="Message" @bind-Value="model.Message" Variant="Variant.Filled" />
                </MudItem>
            </MudGrid>

            <div class="d-flex justify-end">
                <MudButton Size="Size.Medium" OnClick="Cancel">Cancel</MudButton>
                <MudButton Size="Size.Medium" Color="Color.Primary" ButtonType="ButtonType.Submit">Save</MudButton>
            </div>
        </EditForm>
    </DialogContent>
</MudDialog>