@page "/requests"
@inject HttpClient Http
@inject IConfiguration Configuration
@inject IDialogService DialogService
@inject LoaderService Loader
@inject ISnackbar Snackbar
@inject IPetAdoptionAPI petAPI
@attribute [Authorize]

<PageTitle>Requests - PetAdoption</PageTitle>

<div class="container-fluid pt-4">
    <div>
        <MudGrid>
            <MudItem xs="12">
                <MudButton @onclick="AddRequestAsync" Variant="Variant.Filled" Color="Color.Primary"> Add New Request </MudButton>
            </MudItem>
            <MudItem xs="12">
                <!-- Grid design -->
                <MudDataGrid T="PetRequestViewModel" Items="@requestList" ColumnResizeMode="ResizeMode.Column" Bordered="true" Dense="true">
                    <Columns>
                        <PropertyColumn Property="x => x.PetName" Title="Name" Editable="false" />
                        <PropertyColumn Property="x => x.UserName" Title="User name" Editable="false" />
                        <PropertyColumn Property="x => x.Status" Title="Status" Editable="false">
                             <CellTemplate> 
                            <MudChip T="string" Size="Size.Small"
                                             Color="@(context.Item.Status == RequestStatus.Approved ? Color.Success 
                                                    : (context.Item.Status == RequestStatus.Rejected ? Color.Error : Color.Info))">
                                        @context.Item.Status
                                </MudChip>
                            </CellTemplate>

                        </PropertyColumn>
                        <PropertyColumn Property="x => x.RequestDate" Title="Request Date" Editable="false">
                            <CellTemplate>
                                @context.Item.RequestDate.ToString("dd/MM/yyyy")
                            </CellTemplate>

                        </PropertyColumn>
                        <TemplateColumn CellClass="d-flex justify-end">
                            <CellTemplate>
                                <MudStack Row>
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => EditRequest(context.Item.Id))" />
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" OnClick="@(() => DeleteRequest(context.Item.Id))" />
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>
            </MudItem>
        </MudGrid>
    </div>
</div>