@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject IJSRuntime JSRuntime
@inject IDialogService DialogService
@inject IPetAdoptionAPI petAPI
@inject NavigationManager _Naivigation
@inject LoaderService Loader
@inject ISnackbar Snackbar
@inject CustomAuthStateProvider AuthState
@attribute [Authorize]

<PageTitle>Dashboard - PetAdoption</PageTitle>
<div>
    <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="mt-4">
        <MudText Typo="Typo.h4" Class="mb-6" Color="Color.Primary">
            <MudIcon Icon="@Icons.Material.Filled.Dashboard" Class="mr-2" />
            Dashboard
        </MudText>

        <!-- Dashboard Cards Section -->
        <MudGrid Class="mb-6">
            <MudItem xs="12" sm="6" md="3">
                <MudCard Class="pa-4 petListedCount">
                    <MudCardContent Class="pa-0">
                        <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                            <div>
                                <MudText Typo="Typo.h4" Class="mb-1">@dashboardStats.TotalPets</MudText>
                                <MudText Typo="Typo.body2">Pets Listed</MudText>
                            </div>
                            <MudIcon Icon="@Icons.Material.Filled.Pets" Size="Size.Large" />
                        </MudStack>
                    </MudCardContent>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="6" md="3">
                <MudCard Class="pa-4 pendingRequestcount">
                    <MudCardContent Class="pa-0">
                        <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                            <div>
                                <MudText Typo="Typo.h4" Class="mb-1">@dashboardStats.TotalPendingRequests</MudText>
                                <MudText Typo="Typo.body2">Pending Requests</MudText>
                            </div>
                            <MudIcon Icon="@Icons.Material.Filled.Inbox" Size="Size.Large" />
                        </MudStack>
                    </MudCardContent>
                </MudCard>
            </MudItem>

            @if (IsAdmin)
            {
                <MudItem xs="12" sm="6" md="3">
                    <MudCard Class="pa-4 activeUsersCount">
                        <MudCardContent Class="pa-0">
                            <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                                <div>
                                    <MudText Typo="Typo.h4" Class="mb-1">@dashboardStats.TotalActiveUsers</MudText>
                                    <MudText Typo="Typo.body2">Active Users</MudText>
                                </div>
                                <MudIcon Icon="@Icons.Material.Filled.People" Size="Size.Large" />
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }

            <MudItem xs="12" sm="6" md="3">
                <MudCard Class="pa-4 adoptionApprovedCount">
                    <MudCardContent Class="pa-0">
                        <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                            <div>
                                <MudText Typo="Typo.h4" Class="mb-1">@dashboardStats.TotalAdoptionApproved</MudText>
                                <MudText Typo="Typo.body2">Adoptions Approved</MudText>
                            </div>
                            <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Size="Size.Large" />
                        </MudStack>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>